/*
1em = 16px
*/
.btn {
  background-color: green !important; }
  .btn__small {
    width: 2rem !important; }
  .btn__medium {
    width: 3rem !important; }
  .btn__large {
    width: 10rem !important; }
  .btn--blue {
    background-color: #1890ff !important;
    color: #fff !important; }
  .btn--green {
    background-color: green !important;
    color: #aaa !important; }

.loader {
  height: 81vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.menu-button {
  display: none !important;
  position: absolute !important;
  right: 20px !important;
  top: 25px !important;
  font-size: 1.2rem !important;
  border: none !important; }
  .menu-button__content {
    display: flex;
    align-items: center; }
  @media screen and (max-width: 800px) {
    .menu-button {
      display: flex !important;
      align-items: center; } }

.navbar {
  flex: 0.2;
  background-color: #001529; }
  .navbar__container {
    position: fixed;
    left: 0;
    margin: 10px;
    height: 100vh;
    margin: 0px;
    background-color: #001529; }
  .navbar__logo {
    background-color: #001529;
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%; }
  .navbar__name {
    margin: 0 0 0 15px;
    margin-bottom: 0 !important; }
    .navbar__name a {
      color: white; }
  @media screen and (max-width: 800px) {
    .navbar {
      flex: 1; }
      .navbar__container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: #f9f9f9; } }

.line-chart {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: #0071bd; }
  .line-chart__title {
    color: #0071bd !important; }
  .line-chart__price {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important; }
  .line-chart__change {
    font-weight: 900 !important; }
  .line-chart__current {
    margin-top: 0px !important;
    font-weight: 900 !important; }

.footer {
  background-color: #001529;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; }

.cryptocurrencies {
  min-height: 65vh !important; }
  .cryptocurrencies__card {
    min-width: 250px; }
  .cryptocurrencies__image {
    width: 35px; }
  .cryptocurrencies__search {
    margin: 20px auto 30px auto;
    width: 250px; }
  .cryptocurrencies__search {
    margin: 20px auto 30px auto;
    width: 250px; }

.crypto-detail {
  margin: 30px; }
  @media screen and (max-width: 500px) {
    .crypto-detail {
      margin: 0; } }
  .crypto-detail__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px; }
    .crypto-detail__heading p {
      font-size: 1rem;
      opacity: 0.9;
      margin-bottom: 20px; }
    .crypto-detail__heading-name {
      font-weight: 900;
      color: #0071bd; }
  .crypto-detail__select-period {
    width: 200px !important;
    margin-top: 20px !important; }
  .crypto-detail__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px; }
    @media screen and (max-width: 1000px) {
      .crypto-detail__stats__stats {
        flex-direction: column; } }
    .crypto-detail__stats-heading p {
      font-size: 1rem;
      opacity: 0.9; }
  .crypto-detail__title {
    font-weight: 700 !important;
    margin-top: 20px !important;
    color: #0071bd !important; }
    .crypto-detail__title > p {
      margin-top: 20px; }
  .crypto-detail__coin {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px; }
    .crypto-detail__coin:hover {
      background-color: #f9f9f9; }
    .crypto-detail__coin--name {
      display: flex;
      gap: 10px;
      font-size: 1rem; }
    .crypto-detail__coin--value {
      font-weight: 800; }
  .crypto-detail__info-heading p {
    font-size: 1rem;
    opacity: 0.9; }
  .crypto-detail__desc {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px; }
    .crypto-detail__desc h2 {
      font-weight: 700;
      color: #0071bd; }
    @media screen and (max-width: 1000px) {
      .crypto-detail__desc {
        flex-direction: column; }
        .crypto-detail__desc h2 {
          margin-top: 0px; } }
    .crypto-detail__desc p {
      font-size: 1rem;
      opacity: 0.9; }
    .crypto-detail__desc a {
      color: #0071bd; }
    .crypto-detail__desc h3 {
      font-weight: 700; }
    .crypto-detail__desc-coin {
      flex: 0.5; }
    .crypto-detail__desc-link {
      padding: 0px 20px;
      flex: 0.5; }
      @media screen and (max-width: 500px) {
        .crypto-detail__desc-link-links {
          padding: 0px; } }
  .crypto-detail__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding: 20px; }
    .crypto-detail__link a {
      color: #0071bd;
      font-weight: 700;
      font-size: 1rem; }
      .crypto-detail__link a:hover {
        background-color: #f9f9f9; }
    .crypto-detail__link--name {
      text-transform: capitalize;
      font-size: 1rem; }

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px; }
  .homepage__show-more {
    margin-top: 0px !important; }
  @media screen and (max-width: 800px) {
    .homepage__title {
      font-size: 1.4rem !important; }
    .homepage__show-more {
      font-size: 1.3rem !important; } }

.news__text {
  color: black !important;
  margin: 10px 0px !important; }

.news__select {
  width: 180px; }

.news__card {
  min-height: 300px !important; }

.news__image {
  display: flex !important;
  justify-content: space-between !important; }
  .news__image img {
    width: 30%;
    height: 100px; }

.news__title {
  width: 65%;
  font-size: 18px !important; }

.news__provider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18.5px; }
  .news__provider-name {
    margin: 0 10px;
    flex: 1; }

.app {
  display: flex;
  overflow: hidden; }

.main {
  flex: 0.8;
  width: 100%; }

.routes {
  padding: 20px; }

@media screen and (max-width: 1300px) {
  .main {
    margin-left: 50px; } }

@media screen and (max-width: 1170px) {
  .main {
    margin-left: 50px; } }

@media screen and (max-width: 1000px) {
  .main {
    margin-left: 100px; } }

@media screen and (max-width: 800px) {
  .app {
    flex-direction: column;
    overflow: hidden; }
  .main {
    flex: 1;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 10px; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #0071bd;
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  box-sizing: border-box; }

a:hover {
  color: #0071bd !important; }

@media screen and (max-width: 500px) {
  __heading {
    margin-top: 20px; } }

.u-center-text {
  text-align: center !important; }

.u-margin-buttom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-buttom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-buttom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@media screen and (max-width: 800px) {
  .ant-menu {
    position: absolute;
    right: 0px; } }
